section.about
	.container
		.title.title--with-bottom-line
			h2.tittle.title__header About us
			.title__text We are added our major Services

		ul.about__list
			li.about__item
				.icon.icon-like
				h3.about_header Facebook Marketing
				p.about__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero consectetur necessitatibus ex beatae quasi, sint quia provident voluptas omnis expedita iusto, nam odio laborum! Alias veniam saepe, natus error perspiciatis.

			li.about__item
				.icon.icon-book
				h3.about_header Landing pages creation
				p.about__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero consectetur necessitatibus ex beatae quasi, sint quia provident voluptas omnis expedita iusto, nam odio laborum! Alias veniam saepe, natus error perspiciatis.
		
			li.about__item
				.icon.icon-message
				h3.about_header Facebook Marketing
				p.about__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero consectetur necessitatibus ex beatae quasi, sint quia provident voluptas omnis expedita iusto, nam odio laborum! Alias veniam saepe, natus error perspiciatis.