.contacts
	a.contact(href="tel:+380633676506")
		i.fa.fa-mobile.contact__icon(aria-hidden="true")
		span.contact__text +380633676506

	a.contact(href="mailto:info@blablah.co")
		i.fa.fa-envelope.contact__icon.contact__icon__email(aria-hidden="true")
		span.contact__text info@blablah.co

	a.facebook-icon(href="facebook.com")
		i.fa.fa-facebook(aria-hidden="true")